asyncpg==0.29.0
fastapi==0.111.0
numpy==1.24.3
pandas==2.0.1
pydantic==2.7.4
pydantic_core==2.19.0
pydantic_settings==2.3.3
Requests==2.32.3
rich==13.7.1
scikit_learn==1.4.2
SQLAlchemy==2.0.30
starlette==0.37.2
uvicorn==0.30.1
